*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #000;  
}
.navbar{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo{
    width: 6rem;
    margin-left: -40px;
    /*filter: brightness(0) invert(1);*/ /* converts into white color */
    filter: invert(48%) sepia(96%) saturate(749%) hue-rotate(1deg) brightness(102%) contrast(101%);
}
.logo:hover{
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out;
}
.brand{
    display: flex;
    align-items: center;
    gap: 15px;
}
.box-links{
    text-decoration: none;
    /*color: #fff;*/
    background: transparent;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transform: all 0.3s ease-in-out;
    border: 1px solid #ffc067;
    margin: 0px 10px;
}
.box-links:hover{
    border: 0;
    box-shadow: 0 0 3px #ff5c00, 0 0 7px #ff5c00, 0 0 20px #d34d00;
}
.nav-links{
    display: flex;
    gap: 25px;;
    position: relative;
    width: 100%;
    top: 50%;
    left: 58%;
}
.nav-links a{
    color: #ffc067;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.2s ease-in-out;
}
.nav-links a:hover{
    color: #ff5c00;
}
/*.intro-box{
    border: 1px solid #fff;
    margin-top: 180px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
    box-shadow: 0 0 3px #ffc067, 0 0 7px #ffc067, 0 0 20px #d34d00;
    padding: 50px;
}*/
.picture{
    transform: scaleX(-1);
    position: absolute;
    top: 20%;
    right: 15%;
    border: 1px dotted #fff;
    margin-right: 10px;
    margin-left: 73%;
}
.intro-box h1{
    font-size: 60px;
    color: #ffc067;
    border: 1px solid #fff;
    position: absolute;
    top: 23%;
    left: 17%;
}
.intro-text{
    color: #ffc067;
    border: 1px dotted #fff;
    margin-right: 1000px;
    margin-left: 200px;
    position: absolute;
    top: 35%;
}